<body>
  <div class="container bg-login">
    <div class="row logintoprow h-100">
      <div class="col-lg-7 col-md-6 mb-5 mb-lg-0 text-center">
        <div class="my-5 display-3 fw-bold ls-tight">
          <img src="assets/images/logo2.svg" class="logo2">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 my-auto">
        <div class="card bg-glass">
          
          <div class="card-body login_card-body">
            <div class="mb-4">
              <h3 class="signin mt-0 mb-0">Sign In</h3>
              <div class="clearfix subtext">Enter your email and password to sign in</div>
            </div>
            <form>
              <!-- Email input -->
              <div class="mb-4 form1">
                <div class="did-floating-label-content  ">
                  <input class="did-floating-input" type="text" placeholder=" ">
                   <label class="did-floating-label">Email</label>
                  </div>
                 </div>
              <div class="mb-4">
                <div class="did-floating-label-content  ">
                  <input class="did-floating-input" type="password" placeholder=" ">
                   <label class="did-floating-label">Password</label>
                  </div>
               
              </div>
              <div class="mb-4 mt-4 ">
                <label nz-checkbox >Accept</label>
               
                <span> <a href="#" class="TermConditions">Terms & Conditions</a></span>
              </div>
              <!-- Submit button -->
              
            
                  <a (click)="onSumbitLogin()" class=" btn btn-primary btn-block mb-2 mt-4 button1 text-white">
                Login  </a>
                
              <div class="forgot1 mb-4 mt-2 text-right">
                <a >Forgot password?</a>
              </div>
            </form>
            <div class="text-center">
              <p class="footer1">Copyright © 2023 calmscient. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>